@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
  border-radius: 6px;
}

*{
    font-family: 'Manrope', sans-serif;
}

.active{
  color: #fff;
}

.swiper {
    width: 100%;
  }
  
  .swiper-slide {
    background: #F8F8F8;
    justify-content: flex-start;
  }
  
  .swiper-slide img {
    width: 100%;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-pagination-bullet-active {
    background: #1b1b1b !important;
  }

  /* // Grid */

  
  @media (min-width: 1024px) {
    
    
    #texts{
      display: grid;
      grid-area: t;
    }
    #phone{
      display: grid;
      grid-area: p;
    }
    #badged{
      display: flex;
      grid-area: b;
    }
    #social{
      grid-area: s;
    }

    #main{

      max-width: 80rem;
      grid-template-areas: 
        "t t t t p p"
        "s s s s p p"
        "b b b b p p"
        "b b b b p p"      
        ;
    }

  }
  