
.marqueeText{
    animation: moveText 6000ms linear infinite;
}

.star{
    animation: girar 10s linear infinite;
}

.link{
    animation-fill-mode: both;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-name: reveal;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}


@keyframes reveal{
    0%{
        transform: translate3d(0px, 20px, 0px);
        opacity: 0;
    }

    100%{
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        transform: none;
    }
}


@keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes moveText {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
